
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

h1 {
  font-family: "ITCKabelStdMedium.ttf", system-ui;
}


body {
  max-width: 30em;
  margin: 0 auto;
  font-family: "Montserrat", system-ui;
  font-weight: 400;
}

background {
  background: linear-gradient(blue, rgb(255, 99, 255));
}

img, svg, video {
  display: block;
  max-width: 100%;
  height: auto;
}

button, summary {
  cursor: pointer;
}

button, input, select, textarea {
  font: inherit;
}
img.six-pistols {
  transition: transform 1s ease;
}

img.six-pistols:hover {
  transform: rotate(360deg);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img.six-pistols:hover {
  animation: spin 1s linear;
}
